@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root{
    --theme-primary: #262a33;
    --theme-secondary: #2f3232;
    --theme-tertiary: #3e4343;
    --theme-object-primary: #fff;
    --theme-object-secondary: #97918a;
    --theme-object-tertiary: #000;
    --theme-border: #4c5352;
    --theme-button-primary: #343a4e;
    --theme-button-hover: #364e5b;
    --theme-warning-div: #ffebcd;
    --theme-online: #05c41f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

li{
    text-decoration: none;
}

body{
    height: 100vh;
    overflow: hidden;
    background-color: var(--theme-primary);
}


.error-txt{
    color: #721c24;
    background: #f8d7da;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin: 15px auto;
    display: none;
}

#file-input{
    display: none;
}

.chat-warn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-options-div{
    display: none;
    justify-content: space-evenly;
    align-items: center;
}

.img-options{
    margin: 3% 5%;
    padding: 3% 5%;
    height: auto;
    width: 50%;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: var(--theme-button-primary);
    border: none;
    transition: all 0.3s ease;
}

.img-options:hover{
    background-color: var(--theme-button-hover);
}

.warn-text{
    padding: 1% 5%;
    background-color: var(--theme-warning-div);
    color: var(--theme-object-tertiary); 
    border-radius: 50px;
}
.context-menu{
    background-color: var(--theme-object-primary);
    max-height: 5%;
    position: relative;
    top: 50%;
}

.wrapper{
    display: flex;
}

.wrapper img{
    object-fit: cover;
    border-radius: 50%;
}

.left-panel{
    display: flex;
    flex-direction: column;
    width: 30.4%;
    height: 100vh;
    border-right: 0.8px solid var(--theme-border);
}

.left-panel .left-top{
    height: 9.2%;
    background-color: var(--theme-secondary);
    border-bottom: 1px solid var(--theme-border);
    position: sticky;
}

.left-panel .left-search{
    height: 6%;
    background-color: var(--theme-tertiary);
    border-bottom: 1px solid var(--theme-border);
}

.search-obj{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: auto;
    margin: 1% 8%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--theme-object-primary);
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--theme-object-primary);
}

.left-panel .left-search .search-obj input{
    background-color: #2f3231;
    color: var(--theme-object-primary);
    outline: none;
    padding-left: 20px;
    height: 40px;
    border: 1px solid #2f3231;
    width: 90%;
    border-radius: 20px;
    margin: auto;
}

.left-panel .left-search button{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid #2f3030;
    background-color: #2e3030;
    color: var(--theme-object-primary);
    cursor: pointer;
}

.left-panel .left-chats{
    overflow: auto;
    height: 84.8%;
    background-color: var(--theme-tertiary);
    color: var(--theme-object-primary);
    text-align: center;
}

.left-panel .left-chats::-webkit-scrollbar{
    display: none;
}

.left-panel .left-chats{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.right-panel{
    width: 69.6%;
    height: 100vh;
    position: relative;
    top: 0;
    display: block;
}




.default-panel{
    height: 100vh;
    width: 69.6%;
    background-color: var(--theme-primary);
    display: none;
    align-items: center;
    justify-content: center;
}

.default-panel .def-text p{
    font-size: 2rem;
    color: var(--theme-object-secondary);
}

.prof-change{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--theme-object-secondary);
    background-color: var(--theme-primary);
    height: 100vh;
    width: 69.6%;
    position: absolute;
    transition: all 0.3s ease;
    left: 100%;
    border-right: 1px solid var(--theme-border);
}

.prof-change .prof-pan-top{
    height: 9.2%;
    width: 100%;
    margin: auto 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.settings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--theme-object-secondary);
    background-color: var(--theme-primary);
    height: 100vh;
    width: 69.6%;
    position: absolute;
    transition: all 0.3s ease;
    left: 100%;
    border-right: 1px solid var(--theme-border);
}

.settings .settings-pan-top{
    height: 9.2%;
    width: 100%;
    margin: auto 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.settings .settings-pan-top i{
    font-size: 20px;
    text-decoration: none;
    color: var(--theme-object-secondary);
    margin-right: 5%;
}

.settings .settings-pan-top p{
    margin-left: 5%;
    font-size: 1.5rem;
}

.settings .settings-pan-content{
    display: flex;
    width: 50%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90.8%;
}

.settings .settings-pan-content button{
    margin: 3% 5%;
    height: 8%;
    width: 50%;
    font-size: 1.2rem;
    cursor: pointer;
    background-color: var(--theme-button-primary);
    border: none;
    transition: all 0.3s ease;
}

.settings .settings-pan-content button:hover{
    background-color: var(--theme-button-hover);
}

.prof-change .prof-pan-top i{
    font-size: 20px;
    text-decoration: none;
    color: var(--theme-object-secondary);
    margin-right: 5%;
}

.prof-change .prof-pan-top p{
    margin-left: 5%;
    font-size: 1.5rem;
}

.prof-change .prof-details{
    display: flex;
    width: 40%;
    margin: auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90.8%;
}

.profile{
    backface-visibility: hidden;
    transition: 0.3s all ease;
}

.hover-text{
    transition: all .3s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    text-align: center;
}

.prof-change .prof-details .hover-text i{
    font-size: 22px;
    color: var(--theme-object-primary);
}

.profile:hover{
    opacity: 0.3;
    cursor: pointer;
}

.profile:hover ~ .hover-text{
    opacity: 1;
    cursor: pointer;
}

.hover-text:hover{
    opacity: 1;
    cursor: pointer;
}

.hovered{
    opacity: 0.3;
}

.hover-text:hover .profile{
    opacity: 0.3;
    cursor: pointer;
}

.hover-text p{
    color: var(--theme-object-primary);
}

.input-details{
    display: flex;
    height: 5%;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--theme-object-secondary);
    transition: all 0.3 ease;
}


.input-details input{
    font-size: 1rem;
    background-color: var(--theme-primary);
    color: var(--theme-object-secondary);
    border: none;
    outline: none;
}

.input-details button{
    border: none;
    background-color: var(--theme-primary);
    cursor: pointer;
    outline: none;
}


#save-name{
    color: var(--theme-object-secondary);
    transition: all 0.3s ease;
}


.focused{
    cursor: pointer;
}

.right-panel .right-top{
    height: 9.2%;
    background-color: var(--theme-secondary);
    border-bottom: 0.1px solid var(--theme-border);
    display: flex;
    align-items: center;
    padding: 18px 30px;
}

.right-panel .right-top img{
    height: 45px;
    width: 45px;
    margin: 0 15px;
}

.right-panel .right-top .back-icon{
    font-size: 18px;
    color: var(--theme-object-secondary);
}

.right-panel .right-top span{
    font-size: 17px;
    font-weight: 500;
    color: var(--theme-object-primary);
}
.right-panel .right-top p{
    color: var(--theme-object-secondary);
}

.right-chat{
    height: 81.4%;
    background-color: var(--theme-primary);
    padding: 30px 30px 20px 30px;
    box-shadow: inset 0px 32px 32px -32px rgb(0 0 0 / 5%),
    inset 0px -32px 32px -32px rgb(0 0 0 / 5%);
    overflow-y: auto;
    scroll-behavior: smooth;
}

.right-panel .right-chat::-webkit-scrollbar{
    display: none;
}

.right-panel .right-chat{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.right-chat .chat{
    margin: 25px 0;
}

.right-chat .chat p{
    word-wrap: break-word;
    padding: 15px 16px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%),
    0 16px 16px -16px rgb(0 0 0 / 10%);
}

.right-chat .outgoing{
    display: flex;
    justify-content: flex-end;
}

.outgoing .details p{
    background-color: var(--theme-secondary);
    color: var(--theme-object-primary);
    border-radius: 18px 18px 0 18px;
}

.outgoing .details{
    margin-left: auto;
    max-width: 50%
}

.right-chat .incoming{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.right-chat .incoming img{
    height: 35px;
    width: 35px;
}

.incoming .details{
    margin-left: 10px;
    margin-right: auto;
    max-width: 50%
}

.incoming .details p{
    background: var(--theme-object-secondary);
    color: var(--theme-object-tertiary);
    border-radius: 18px 18px 18px 0;
}

.right-panel .right-typing{
    display: flex;
    align-items: center;
    height: 10.6%;
    background: var(--theme-secondary);
}

#emodiv{
    position: absolute;
    top: -2vh;
    width: 100%;
    display: block;
    background-color: #2f3232;
}

.right-panel .right-typing .typing-area{
    width: 100%;
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.typing-area input{
    height: 45px;
    width: 95%;
    padding-left: 20px;
    background: var(--theme-tertiary);
    border: none;
    border-radius: 50px;
    font-size: 15px;
    outline: none;
    color: var(--theme-object-primary);
}

.typing-area button{
    border: none;
    background: var(--theme-primary);
    font-size: 20px;
    color: var(--theme-object-primary);
    outline: none;
}

.left-panel .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100%-5%);
    margin: 3% 5%;
}

.left-panel .content .user-options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--theme-object-secondary);
}

.left-panel .content .user-options button{
    padding-right: 35px;
    background-color: var(--theme-secondary);
    border: none;
    color: var(--theme-object-secondary);
}

.left-panel .content .user-options i{
    font-size: 1.3rem;
    cursor: pointer;
}

.prof-img img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.users-list{
    padding: auto 60px;
    
}

.users-list a{
    display: flex;
    align-items: center;
    padding: 20px 20px;
    justify-content: space-between;
    border-bottom: 1px solid var(--theme-border);
}

.users-list a .chat-content p{
    color: var(--theme-object-secondary);
}

:is(.left-chats, .users-list) .chat-content{
    display: flex;
    align-items: center;
}

:is(.left-chats, .users-list) .details{
    color: var(--theme-object-primary);
    margin-left: 15px;
    margin-top: 5px;
}

:is(.left-chats, .users-list) .details span{
    font-size: 18px;
    font-weight: 500;
}

.users-list .details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.users-list a .chat-content img{
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.users-list a .status-dot{
    font-size: 12px;
    color: var(--theme-online);
}
.users-list a .status-dot .offline{
    color: var(--theme-object-secondary);
}

@media (max-width: 1476px){
    .right-panel .right-typing .typing-area{
        margin: 0 20px;
    }
    #msg-input{
        width: 92%;
    }
}