@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body{
    background: linear-gradient(120deg, #2d2f2f, #565f5e);
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.desc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 50%;
}

.head{
    color: #ffffff;
    font-size: 3rem;
    font-weight: 600;
    margin-left: 50px;
    margin-bottom: 3px;
}

.text{
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 400;
    margin-left: 50px;
}

.login-form{
    height: 100vh;
    width: 50%;
}

.center{
    animation: fadeIn 3s;
}

.fade-in{
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.9;
    }
    100% {
        opacity: 1;
    }
}

.center{
    grid-area: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(35%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

.center h1{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
}

.center form{
    padding: 0 40px;
    box-sizing: border-box;
}

form .txt_field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
    display: flex;
    align-items: flex-end;
}

form .txt_field i{
    margin-bottom: 8px;
    cursor: pointer;
    color: #adadae;
}

.txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2d2f2f;
    transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
    top: -5px;
    color: #2d2f2f;
}

.login-form form .error-txt{
    color: #721c24;
    background: #f8d7da;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin: 15px auto;
    display: none;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
    width: 100%;

}

.pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
    transition: all 0.3s ease;
}

.pass:hover{
    text-decoration: underline;
    color: black;
}

input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 2px solid #2d2f2f;
    background: #2d2f2f;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover{
    background: #ffffff;
    color: #2d2f2f;
    transition: .3s;
}

.signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.signup_link a{
    color: #2d2f2f;
    text-decoration: none;
}

.signup_link a:hover{
    text-decoration: underline;
}