@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

li{
    text-decoration: none;
}

body{
    height: 100vh;
    overflow: hidden;
    background-color: #262a33;
}

.light{
    filter: invert(1) hue-rotate(180deg);
}

.chat-warn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.warn-text{
    padding: 1% 5%;
    background-color: blanchedalmond;
    color: #000; 
    border-radius: 50px;
}
.context-menu{
    background-color: #fff;
    max-height: 5%;
    position: relative;
    top: 50%;
}

.wrapper{
    display: flex;
}

.wrapper img{
    object-fit: cover;
    border-radius: 50%;
}

.left-panel{
    display: flex;
    flex-direction: column;
    width: 30.4%;
    height: 100vh;
    border-right: 0.8px solid #4c5352;
}

.left-panel .left-top{
    height: 9.2%;
    background-color: #2f3232;
    border-bottom: 1px solid #4c5352;
    position: sticky;
}

.left-panel .left-search{
    height: 6%;
    background-color: #3e4343;
    border-bottom: 1px solid #4c5352;
}

.search-obj{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: auto;
    margin: 1% 8%;
}

.left-panel .left-search .search-obj input{
    background-color: #2f3231;
    color: #ffffff;
    outline: none;
    padding-left: 20px;
    height: 40px;
    border: 1px solid #2f3231;
    width: 90%;
    border-radius: 20px;
}


.left-panel .left-search button{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid #2f3030;
    background-color: #2e3030;
    color: #ffffff;
    cursor: pointer;
}

.left-panel .left-chats{
    overflow: auto;
    height: 84.8%;
    background-color: #3e4343;
}

.left-panel .left-chats::-webkit-scrollbar{
    display: none;
}

.left-panel .left-chats{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.right-panel{
    width: 69.6%;
    height: 100vh;
    position: relative;
    top: 0;
    display: none;
}

.default-panel{
    height: 100vh;
    width: 69.6%;
    background-color: #262a33;
    display: flex;
    align-items: center;
    justify-content: center;
}

.default-panel .def-text p{
    font-size: 2rem;
    color: #97918a;
}

.prof-change{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #97918a;
    background-color: #262a33;
    height: 100vh;
    width: 69.6%;
    position: absolute;
    transition: all 0.3s ease;
    left: 100%;
    border-right: 1px solid #4c5353;
}

.prof-change .prof-pan-top{
    height: 9.2%;
    width: 100%;
    margin: auto 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.settings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #97918a;
    background-color: #262a33;
    height: 100vh;
    width: 69.6%;
    position: absolute;
    transition: all 0.3s ease;
    left: 100%;
    border-right: 1px solid #4c5353;
}

.settings .settings-pan-top{
    height: 9.2%;
    width: 100%;
    margin: auto 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.settings .settings-pan-top i{
    font-size: 20px;
    text-decoration: none;
    color: #97918a;
    margin-right: 5%;
}

.settings .settings-pan-top p{
    margin-left: 5%;
    font-size: 1.5rem;
}

.settings .settings-pan-content{
    display: flex;
    width: 50%;
    margin: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90.8%;
}

.settings .settings-pan-content button{
    margin: 3% 5%;
    height: 8%;
    width: 50%;
    font-size: 1.2rem;
    cursor: pointer;
}

.prof-change .prof-pan-top i{
    font-size: 20px;
    text-decoration: none;
    color: #97918a;
    margin-right: 5%;
}

.prof-change .prof-pan-top p{
    margin-left: 5%;
    font-size: 1.5rem;
}

.prof-change .prof-details{
    display: flex;
    width: 40%;
    margin: auto;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 90.8%;
}

.profile{
    backface-visibility: hidden;
    transition: 0.3s all ease;
}

.hover-text{
    transition: all .3s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    text-align: center;
}

.prof-change .prof-details .hover-text i{
    font-size: 22px;
    color: #fff;
}

.profile:hover{
    opacity: 0.3;
    cursor: pointer;
}

.profile:hover ~ .hover-text{
    opacity: 1;
    cursor: pointer;
}

.hover-text:hover{
    opacity: 1;
    cursor: pointer;
}

.hovered{
    opacity: 0.3;
}

.hover-text:hover .profile{
    opacity: 0.3;
    cursor: pointer;
}

.hover-text p{
    color: #fff;
}

.input-details{
    display: flex;
    height: 5%;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid #97918a;
    transition: all 0.3 ease;
}


.input-details input{
    font-size: 1rem;
    background-color: #262a33;
    color: #97918a;
    border: none;
}

.input-details button{
    border: none;
    background-color: #262a33;
}

#save-name{
    color: #97918a;
    transition: all 0.3s ease;
}


.focused{
    cursor: pointer;
}

.right-panel .right-top{
    height: 9.2%;
    background-color: #2f3232;
    border-bottom: 0.1px solid #4c5352;
    display: flex;
    align-items: center;
    padding: 18px 30px;
}

.right-panel .right-top img{
    height: 45px;
    width: 45px;
    margin: 0 15px;
}

.right-panel .right-top .back-icon{
    font-size: 18px;
    color: #97918a;
}

.right-panel .right-top span{
    font-size: 17px;
    font-weight: 500;
    color: #fff;
}
.right-panel .right-top p{
    color: #97918a;
}

.right-chat{
    height: 81.4%;
    background-color: #262a33;
    padding: 30px 30px 20px 30px;
    box-shadow: inset 0px 32px 32px -32px rgb(0 0 0 / 5%),
    inset 0px -32px 32px -32px rgb(0 0 0 / 5%);
    overflow-y: auto;
    scroll-behavior: smooth;
}

.right-panel .right-chat::-webkit-scrollbar{
    display: none;
}

.right-panel .right-chat{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.right-chat .chat{
    margin: 25px 0;
}

.right-chat .chat p{
    word-wrap: break-word;
    padding: 15px 16px;
    box-shadow: 0 0 32px rgb(0 0 0 / 8%),
    0 16px 16px -16px rgb(0 0 0 / 10%);
}

.right-chat .outgoing{
    display: flex;
    justify-content: flex-end;
}

.outgoing .details p{
    background-color: #2f3232;
    color: #fff;
    border-radius: 18px 18px 0 18px;
}

.outgoing .details{
    margin-left: auto;
    max-width: 50%
}

.right-chat .incoming{
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.right-chat .incoming img{
    height: 35px;
    width: 35px;
}

.incoming .details{
    margin-left: 10px;
    margin-right: auto;
    max-width: 50%
}

.incoming .details p{
    background: #97918a;
    color: #000;
    border-radius: 18px 18px 18px 0;
}

.right-panel .right-typing{
    display: flex;
    align-items: center;
    height: 10.6%;
    background: #2f3232;
}

.right-panel .right-typing .typing-area{
    width: 100%;
    margin: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.typing-area input{
    height: 45px;
    width: 95%;
    padding-left: 20px;
    background: #3e4343;
    border: none;
    border-radius: 50px;
    font-size: 15px;
}

.typing-area button{
    border: none;
    background: none;
    font-size: 20px;
}

.left-panel .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100%-5%);
    margin: 3% 5%;
}

.left-panel .content .user-options{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #97918a;
}

.left-panel .content .user-options button{
    padding-right: 35px;
    background-color: #2f3232;
    border: none;
    color: #97918a;
}

.left-panel .content .user-options i{
    font-size: 1.3rem;
    cursor: pointer;
}

.prof-img img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.users-list{
    padding: auto 60px;
    
}

.users-list a{
    display: flex;
    align-items: center;
    padding: 20px 20px;
    justify-content: space-between;
    border-bottom: 1px solid #4c5352;
}

.users-list a .chat-content p{
    color: #97918a;
}

:is(.left-chats, .users-list) .chat-content{
    display: flex;
    align-items: center;
}

:is(.left-chats, .users-list) .details{
    color: #fff;
    margin-left: 15px;
    margin-top: 5px;
}

:is(.left-chats, .users-list) .details span{
    font-size: 18px;
    font-weight: 500;
}

.users-list a .chat-content img{
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.users-list a .status-dot{
    font-size: 12px;
    color: #05c41f;
}
.users-list a .status-dot .offline{
    color: #97918a;
}

